{% extends 'base.html.twig' %}

{% block body %}
    <h1>Logowanie</h1>
    <form method="post">
        <input type="text" name="_username" placeholder="Nazwa użytkownika" value="{{ last_username }}">
        <input type="password" name="_password" placeholder="Hasło">
        <button type="submit">Zaloguj</button>
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    </form>
{% endblock %}
