{% extends 'base.html.twig' %}

{% block title %}Edytuj pracownika{% endblock %}

{% block body %}
    <h1>Edytuj pracownika</h1>

    {{ include('employee/_form.html.twig', { form: form }) }}

    <a href="{{ path('employee_index') }}" class="btn btn-secondary">Powrót do listy</a>
{% endblock %}
